<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="url" value="http://www.gutenberg.org/files/2701/2701-0.txt"/>
    <add key="txt_file_name" value="2701-0.txt"/>
    <add key="xml_file_name" value="data.xml"/>
  </appSettings>
</configuration>